<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}">

	
	<main layout:fragment="content">	
		<form method="post"  th:action="@{/member/join}" th:object="${joinRequest}">
			<dl>
				<dt>아이디</dt>
				<dd><input type="text" name="memId" th:field="*{memId}"></dd>
			</dl>
			<dl>
				<dt>비밀번호</dt>
				<dd><input type="password" name="memPw"></dd>
			</dl>
			<dl>
				<dt>비밀번호 확인</dt>
				<dd><input type="password" name="memPwRe"></dd>
			</dl>
			<dl>
				<dt>회원명</dt>
				<dd><input type="text" name="memNm" th:field="*{memNm}"></dd>
			</dl>
			<dl>
				<dt>이메일</dt>
				<dd><input type="text" name="email" th:field="*{email}"></dd>
			</dl>
			<dl>
				<dt>전화번호</dt>
				<dd><input type="text" name="mobile" th:field="*{mobile}"></dd>
			</dl>
			<div>
				<input type="checkbox" name="agree" value="true" id="agree" th:field="*{agree}">
				<label for="agree">회원 가입 약관에 동의합니다.</label>
			</div>
			<button type="submit">가입하기</button>
		</form>
	</main>
</html>